*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}
body{
    background: rgb(30, 30, 30);
    color: white;

}
html {
  scroll-behavior: smooth;
}
.section.animate .your-element {
  animation: fadeInUp 0.7s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}